# vi swap files
*.swp
*.swo
.*.swp
.*.swo
env.bak/

# Project data and config files
logs/
logs/*.log
*.log
# Ignore everything in backups/ except csvimport.backup
backups/*
!backups/csvimport.backup

# Editor swap/backup files
*.swp
*.swo
.*.swp
.*.swo

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pytest_cache/
.hypothesis/
.cache

# Build, packaging, and distribution
build/
dist/
develop-eggs/
sdist/
parts/
downloads/
wheels/
share/python-wheels/
*.egg-info/
.eggs/
eggs/
*.egg
MANIFEST
.installed.cfg

# Virtual environments
.env
.venv
env/
ENV/
env.bak/
venv/
venv.bak/
.python-version

# Installer logs
pip-log.txt
pip-delete-this.txt

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# IDE/project settings
.spyderproject
.spyproject
.ropeproject

# Documentation
/site

# Miscellaneous
celerybeat-schedule
*.sage.py
.pytype/

# Cython debug symbols
cython_debug/
